# Hostname
CONFIG_DEFAULT_HOSTNAME="a04s"

CONFIG_KALLSYMS_ALL=y

# KernelSU
CONFIG_KSU=y
# ReSukiSU uses SUSFS inline hooks. KSUNext needs this though.
# CONFIG_KSU_MANUAL_HOOK=y
CONFIG_KPROBES=n

# KernelSU SUSFS
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y

# Disable Samsung Securities
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_RKP_CFP_JOPP=n
CONFIG_RKP_CFP=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n
CONFIG_RKP=n
CONFIG_KDP_NS=n
CONFIG_KDP=n

# Kernel name modification
CONFIG_LOCALVERSION="-lesdieux"
CONFIG_LOCALVERSION_AUTO=n

# Allow changing selinux at runtime
CONFIG_SECURITY_SELINUX_DEVELOP=y

# Enable LZ4 and use it in ZRAM
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_ZRAM_DEF_COMP="lz4"

# Enable some other IO Schedulers
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_BFQ=y
CONFIG_DEFAULT_IOSCHED="bfq"

# Enable some other CPU governors
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y

# Enable samepage merging, saving memory by de-duplication
CONFIG_KSM=y

# Set a higher timer frequency for faster interactivity
CONFIG_HZ_1000=y
CONFIG_HZ=1000

# Enable BBR TCP congestion
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"
